<!-- About -->
<div class="pageContent">
    <div id="divAbout" class="divContent">

        <!-- Education -->
        <h4>Education</h4>
        <table>
            <tr>
                <td>2009 - 2013</td>
                <td>
                    Bachelor of Civil Engineering majoring in Civil & Construction at <a href="https://www.qut.edu.au/">QUT</a> <br>
                </td>
            </tr>
            <tr>
                <td>2005 - 2006</td>
                <td>
                    Diploma of Mechanical Engineering at <a href="http://tafebrisbane.edu.au/">TAFE</a> <br>
                </td>

            </tr>
        </table>
        <br>


        <!-- Employment History -->
        <h4>Employment History</h4>
        <table>
            <tr>
                <td>2013 - 2015</td>
                <td>Graduate Engineer</td>
                <td><a href="http://realseriousgames.com/">Real Serious Games</a></td>
            </tr>
            <tr>
                <td>2011 - 2013</td>
                <td>Trainee Structural Engineer</td>
                <td><a href="http://www.nbraust.com.au/">NBR Australia</a></td>
            </tr>
            <tr>
                <td>2008 - 2012</td>
                <td>Residential Draftsman (part-time)</td>
                <td><a href="http://www.homeimprovementpages.com.au/connect/ettodesignanddrafting/building_design/45424">Etto Designs and Drafting</a></td>
            </tr>
            <tr>
                <td>2003 - 2004</td>
                <td>Apprentice Carpenter</td>
                <td><a href="http://www.cotteeconstructions.com.au/">Cottee Constructions</a></td>
            </tr>
        </table>
        <br>


        <!-- Other Things -->
        <h4>Other Things</h4>
        Winner of <a href="http://www.brisbanetimes.com.au/entertainment/art-and-design/story-bridge-reimagining-wins-top-design-prize-20110812-1iq0x.html">2011 Baulderstone National Icons Design Competition</a>

        <br>
        <br>

        Designed & Developed <a href="https://play.google.com/store/apps/details?id=test.BeamThingAndroid&hl=en">Easybeam</a> for Android

        <br>
        <br>

        Co-Designer/Developer of <a href="https://play.google.com/store/apps/details?id=com.dreamfire.whereintheworld&hl=en">Where in the World</a> for Android

        <br>
        <br>



    </div>
</div>
