<!-- About -->
<div id="divAbout" class="divContent center">

    <!-- Education -->
    <h4>Education</h4>
    <table>
        <tr>
            <td>2009 - 2013</td>
            <td>
                Bachelor of Civil Engineering majoring in Civil & Construction at <a class="aLink"
                     target="_blank" href="https://www.qut.edu.au/">QUT</a>
            </td>
        </tr>
        <tr>
            <td>2005 - 2006</td>
            <td>
                Diploma of Mechanical Engineering at <a class="aLink"  target="_blank"
                                                        href="http://tafebrisbane.edu.au/">TAFE</a>
            </td>
        </tr>
    </table>

    <br>


    <!-- Employment History -->
    <h4>Employment History</h4>
    <table>
        <tr>
            <td>2013 - 2015</td>
            <td>Graduate Engineer</td>
            <td><a class="aLink" href="http://realseriousgames.com/" target="_blank">Real Serious Games</a></td>
        </tr>
        <tr>
            <td>2011 - 2013</td>
            <td>Trainee Structural Engineer</td>
            <td><a class="aLink" href="http://www.nbraust.com.au/" target="_blank">NBR Australia</a></td>
        </tr>
        <tr>
            <td>2008 - 2012</td>
            <td>Residential Draftsman (part-time)</td>
            <td><a class="aLink"  target="_blank" href="http://www.homeimprovementpages.com.au/connect/ettodesignanddrafting/building_design/45424">Etto Designs and Drafting</a></td>
        </tr>
<!--
        <tr>
            <td>2003 - 2004</td>
            <td>Apprentice Carpenter</td>
            <td><a class="aLink"  target="_blank" href="http://www.cotteeconstructions.com.au/">Cottee Constructions</a></td>
        </tr>
-->
    </table>

    <br>




    <!-- Other Achievements -->
    <h4>Other Achievements</h4>
    <p>Winner of <a class="aLink"  target="_blank" href="http://www.brisbanetimes.com.au/entertainment/art-and-design/story-bridge-reimagining-wins-top-design-prize-20110812-1iq0x.html">2011 Baulderstone National Icons Design Competition</a></p>


    <!-- Other Achievements -->
    <h4>Programming</h4>
    <div>
        <p>I've  been programming as a hobby, and at some of my previous jobs, for almost 5 years and I have experience with :</p>

        <div id="divUlOuter">
            <div id="divUlInner">
                <ul id="ulCodeExperience">
                    <li>C# and WPF for Windows Desktop</li>
                    <li>Node.js/html/sass/js/jQuery and a bit of Angular/Backbone/Azure Websites</li>
                    <li>Excel and VBA</li>
                    <li>Java for Android</li>
                    <li>Little bit of SQL Server</li>
                </ul>
            </div>
        </div>

        <p> Have a look at the <a class="aLink" href="#/portfolio">Portfolio</a> page for some of my projects</p>
    </div>
</div>
