<!-- Portfolio -->
<div id="divPortfolio">

    <!-- Portfolio items list -->
    <div ng-repeat="item in portfolioData track by $index" class="divPortfolioItem">

        <div class="divPortfolioInner">

            <!-- Image & links -->
            <div class="divPortfolioImg">
                <div class="divImg">
                    <div class="center">
                        <img class="imgPortfolio" src="{{item.imgSrc}}" height="150" portfolio-image/>
                    </div>
                </div>

                <div class="divLinks">
                    <a class="aLink" ng-class="{'invisible': item.linkWebsite.length === 0}"
                       href="{{item.linkWebsite}}" target="_blank">Link</a>

                    <a class="aLink" ng-class="{'invisible': item.linkDownload.length === 0}"
                       href="{{item.linkDownload}}" target="_blank">Download</a>

                    <a class="aLink" ng-class="{'invisible': item.linkSource.length === 0}"
                       href="{{item.linkSource}}" target="_blank">Source</a>
                </div>
            </div>

            <!-- Text -->
            <div class="divPortfolioContent">
                <h3>{{item.title}}</h3>
                <p ng-bind-html="item.content"></p>
            </div>
        </div>
    </div>

</div>
