@font-face {
  font-family: Quicksand;
  src: url("../res/fonts/Quicksand-Regular.ttf") format("truetype"); }

@font-face {
  font-family: Quicksand;
  font-weight: bold;
  src: url("../res/fonts/Quicksand-Bold.ttf") format("truetype"); }

#divAbout {
  max-width: 712px; }
  #divAbout #divHeading {
    margin-bottom: 20px; }
  #divAbout h4 {
    margin-top: 0;
    padding-top: 0; }
  #divAbout h4:last-of-type {
    margin-top: 15px; }
  #divAbout table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap; }
    #divAbout table tr {
      border-top: 1px solid #808080;
      border-bottom: 1px solid #808080; }
      #divAbout table tr td {
        padding: 5px 25px 5px 5px; }
  #divAbout p {
    margin-bottom: 2px; }
  #divAbout #divUlOuter {
    text-align: left;
    width: 100%; }
    #divAbout #divUlOuter #divUlInner {
      display: inline-block;
      position: relative;
      width: auto;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 5px 0; }
  @media (max-height: 730px) {
    #divAbout {
      position: relative !important;
      padding: 20px 0;
      top: 0;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0); } }

#divContact {
  line-height: 2em; }

#divPortfolio {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto; }
  #divPortfolio .divPortfolioItem {
    position: relative;
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 1px solid #262936; }
    #divPortfolio .divPortfolioItem .divPortfolioInner {
      margin: 20px 0;
      height: 200px; }
      #divPortfolio .divPortfolioItem .divPortfolioInner .divPortfolioImg {
        position: relative;
        float: left;
        width: 320px;
        height: 100%; }
        #divPortfolio .divPortfolioItem .divPortfolioInner .divPortfolioImg .divImg {
          position: relative;
          top: 0;
          height: calc(100% - 30px); }
          #divPortfolio .divPortfolioItem .divPortfolioInner .divPortfolioImg .divImg .imgPortfolio {
            cursor: pointer; }
        #divPortfolio .divPortfolioItem .divPortfolioInner .divPortfolioImg .divLinks {
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          line-height: 30px;
          white-space: nowrap; }
          #divPortfolio .divPortfolioItem .divPortfolioInner .divPortfolioImg .divLinks a {
            margin: 0 10px; }
      #divPortfolio .divPortfolioItem .divPortfolioInner .divPortfolioContent {
        float: left;
        width: calc(100% - 320px);
        height: 100%; }
        #divPortfolio .divPortfolioItem .divPortfolioInner .divPortfolioContent h3 {
          margin: 10px; }
        #divPortfolio .divPortfolioItem .divPortfolioInner .divPortfolioContent p {
          margin: 10px; }
  #divPortfolio .divPortfolioItem:last-ofitem {
    border-bottom: 1px solid #262936; }
  @media (max-width: 1170px) {
    #divPortfolio .divPortfolioInner {
      height: 250px !important; } }
  @media (max-width: 970px) {
    #divPortfolio .divPortfolioInner {
      height: 100% !important;
      display: -webkit-box !important;
      display: flex !important;
      flex-flow: column;
      width: 100% !important; }
      #divPortfolio .divPortfolioInner .divPortfolioImg {
        height: 180px !important;
        -webkit-box-ordinal-group: 3;
        order: 2;
        float: none !important;
        width: 100% !important; }
      #divPortfolio .divPortfolioInner .divPortfolioContent {
        height: 220px !important;
        -webkit-box-ordinal-group: 2;
        order: 1;
        float: none !important;
        width: 100% !important; } }

#navLinksTop {
  font-size: 1.3em; }
  #navLinksTop a {
    margin: 0 10px; }

#divSocial {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center; }
  #divSocial a {
    margin-right: 15px; }
  #divSocial #divDownloadResume {
    margin-top: 10px; }
    #divSocial #divDownloadResume #aDownloadResume {
      margin-top: 10px;
      text-decoration: none;
      color: #359fd8;
      background-color: transparent;
      border-radius: 5px;
      padding: 0 10px 0 10px;
      font-weight: 600;
      font-size: 1.2em;
      cursor: pointer;
      padding: 2px 15px; }
      #divSocial #divDownloadResume #aDownloadResume:hover {
        color: #d1d1d1;
        background-color: #359fd8; }
      #divSocial #divDownloadResume #aDownloadResume:active {
        -webkit-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95); }

@media (max-width: 970px) {
  #navLinksTop {
    left: 30px !important;
    -webkit-transform: translate(0%, -50%) !important;
    transform: translate(0%, -50%) !important; } }

* {
  margin: 0;
  padding: 0;
  font-family: Quicksand, Verdana, Geneva, sans-serif;
  color: #d1d1d1;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  background: -webkit-radial-gradient(bottom ellipse, #1b2735 0%, #090a0f 100%);
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden; }

h1 {
  margin: 5px;
  font-size: 1.5em; }

h4 {
  margin: 5px;
  font-size: 1.3em; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.aLink {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  margin: 0;
  color: #359fd8; }
  .aLink:hover {
    color: #359fd8; }
  .aLink:active {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95); }

.invisible {
  display: none; }

#divContainer {
  overflow-y: scroll;
  height: 100%;
  min-width: 738px; }
  #divContainer #divNavBar {
    display: block;
    position: relative;
    height: 100px;
    width: 100%; }
  #divContainer #ngViewContainer {
    display: block;
    position: relative;
    height: calc(100% - 100px);
    background-color: transparent;
    width: 100%;
    min-height: 530px; }
    #divContainer #ngViewContainer .divContent {
      position: absolute;
      text-align: center; }

#divImgContainer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4000; }

.ng-enter {
  -webkit-animation: scaleIn 0.3s both ease-in;
  animation: scaleIn 0.3s both ease-in; }

.ng-leave {
  -webkit-animation: scaleOut 0.2s both ease-in;
  animation: scaleOut 0.2s both ease-in; }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes scaleOut {
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }

@keyframes scaleOut {
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }
