body {    
    height: 100%;
    width: 100%;    
    margin: 0;
    padding: 0;
    font-family: Quicksand;
    background-color: #ffffff;
}

h1 {
    margin: 5px;
    font-size: 25px;
}

h4 {
    margin: 5px;
    font-size: 20px;
}


/* Tables */
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

tr {        
    border-top: 1px solid rgba(128, 128, 128, 1);
    border-bottom: 1px solid rgba(128, 128, 128, 1);
}

td {
    padding: 5px 25px 5px 5px;
}




/* Nav Links */
.navLinksTop a {
    display: inline-block;
    margin: 10px 15px 0 15px;
    text-decoration: none;
    color: #333333;
    font-weight: 600;
}

.navLinksTop a:hover {    
    color: #359fd8;
}

.navLinksTop a:active {
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
}

#divNavBar {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 1000;
    white-space: nowrap;
}




/* Download resume link */
#aButton {
    display: inline-block;
    margin-top: 10px;    
    text-decoration: none;
    color: #359fd8;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 0 10px 0 10px;
    font-weight: 600;
    font-size: 17px;    
    cursor: pointer;
}

#aButton:hover {    
    color: #333333;
    background-color: #359fd8;    
}

#aButton:active {    
    -webkit-transform: scale(0.95, 0.95);
    -moz-transform: scale(0.95, 0.95);
    -ms-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
}




/* Page container */
#ngViewContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}


/* All Pages */
.divContent {
    position: absolute;
    top: 50%;
    left: 50%;    
    text-align: center;    
}


/* Home Page */
#divHome {    
    line-height: 2;
    margin-left: -116px;
    margin-top: -84px;
}

/* About Page */
#divAbout {
    width: 687px;
    margin-left: -343px;
    margin-top: -228px;
}


/* Contact Page */
#divContact {
    line-height: 2;
    margin-left: -126px;
    margin-top: -78px;
}




/* Fonts */
@font-face {
    font-family: Quicksand;
    src: url("../res/fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Quicksand;
    font-weight: bold;
    src: url("../res/fonts/Quicksand-Bold.ttf") format("truetype");
}




/* Animations */
.ng-enter {
    animation: scaleIn 0.2s both ease-in;    
}

.ng-leave {
    animation: scaleOut 0.2s both ease-in;    
}

@keyframes scaleIn {
    from { transform: scale(0, 0); }
    to { transform: scale(1, 1); }
}

@keyframes scaleOut {
    to { transform: scale(0, 0); }
}